<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="wedding photography, chennai, kerala, india, tamilnadu, coimbatore, photography, kreativiti">
    <meta name="description" content="Kreativiti is a group of visual artists based in Chennai, India. We believe in the 'decisive moment' and have a keen eye for detail. We are available for photography assignments including weddings, commercial, and fashion - to name a few.">
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" id="ppstyle" type="text/css" href="/static/css/style.css">
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'/>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/gondor.js"></script>
    <title>Home | Kreativiti</title>
</head>
<body>
<!-- Main container -->
<div class="page-container">
  
<!-- Hero Bloc -->
<div id="hero-bloc" class="bloc hero  bg-mccurry d-bloc b-divider">
  <div class="container bloc-sm hero-nav">
    <nav class="navbar row">
      <div class="navbar-header">
        <a class="navbar-brand ltc-1" href="/"><img src="/static/img/kreativiti_logo.png" width="150px" height="150px" alt='' /></a>
        <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-1">
        <ul class="site-navigation nav pull-right">
          <li>
            <a href="/" class="ltc-1">Home</a>
          </li>
          <li>
            <a href="/portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/enquire">Enquire</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="v-center text-center">
    <div class="vc-content">
      <h3 class="">

<!--         No, we don&rsquo;t click images. We make them. -->
      </h3>
      <br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br />
      <div class="text-center">
<!--         <a href="/portfolio" class="btn btn-wire">View Portfolio</a>
 -->      </div><a id="scroll-hero" class="btn-dwn"><span class="fa fa-chevron-down"></span></a>
    </div>
  </div>
</div>
<!-- Hero Bloc END -->

<!-- bloc-2 -->
<div class="bloc  l-bloc" id="bloc-2">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <div id="carousel-1" class="carousel slide">
         <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0">
            </li>
            <li data-target="#carousel-1" data-slide-to="1">
            </li>
            <li data-target="#carousel-1" data-slide-to="2">
            </li>
            <li data-target="#carousel-1" data-slide-to="3" class="active">
            </li>
            <li data-target="#carousel-1" data-slide-to="4">
          </ol>
          <div class="carousel-inner">
            <div class="item">
              <img src="/static/img/home_slider_4.jpg" alt='' />
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="/static/img/home_slider_3.jpg" alt='' />
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="/static/img/home_slider_2.jpg" alt='' />
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item active">
              <img src="/static/img/home_slider_1.jpg" alt='' />
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="/static/img/home_slider_5.jpg" alt='' />
              <div class="carousel-caption">
              </div>
            </div>
          </div><a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><span class="fa fa-chevron-right"></span><span class="sr-only">Next</span></a>
        </div>
        <br />
        <h3 class="mg-md text-center" style="color:#000000">
          <center> About Us </center>
        </h3>
        <p class="text-center" style="color:#000000" text-align="justify">
          Kreativiti Images is a group of visual artists based out of Chennai, India. We were students at IIT Madras <br>
          when our shared passion for photography brought us together to 
form 
Kreativiti. Yassin and Pratheesh have an <br> 
          engineering background, while Athul and Sajith come from literature and filmmaking backgrounds respectively. <br>
          The diversity of our backgrounds and experiences make us a truly distinctive team.
          <br /> <br />
          We are a client-friendly, service-oriented agency and believe that great creativity often is the result of team <br> 
          effort, philosophy and values. Our team is ready to create outstanding visuals for you, and make sure that you <br>can cherish
          your precious moments for eternity. We believe in the <i>decisive moment</i> as proposed by <a href="http://goo.gl/diaTdv" target="_blank"> Henri Cartier-Bresson 
</a>, <br>and we strive to freeze moments that stand the test of time.
          </center>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- bloc-2 END -->

<div class="bloc l-bloc " id="bloc-3">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center mg-md">
          <center>The Team</center>
        </h2>
       <!--  <p class="sub-heading text-center">
          We are a group of studs.
        </p> -->
      </div>
    </div>
    <div class="row voffset-lg">
      <div class="col-sm-3">
        <a href="http://www.facebook.com/Yassinkf/" target="_blank"><img src="/static/img/Yassin.jpg" class="img-responsive" alt='' /></a>
        <h3 class="text-center mg-md">
          <center>Yassin Muhammed</center>
        </h3>
       
      </div>
      <div class="col-sm-3">
        <a href="http://www.athulkrishnan.com/" target="_blank"><img src="/static/img/Athul.jpg" class="img-responsive" alt='' /></a>
        <h3 class="text-center mg-md">
          <center>Athul Krishnan</center>
        </h3>
        
      </div>
      <div class="col-sm-3">
        <a href="http://www.facebook.com/pratheesh.prakash/" target="_blank"><img src="/static/img/Pratheesh.jpg" class="img-responsive" alt='' /> </a>
        <h3 class="text-center mg-md">
          <center>Pratheesh Prakash</center>
        </h3>
        
      </div>
      <div class="col-sm-3">
        <a href="http://www.facebook.com/sajith.nambidi/" target="_blank"><img src="/static/img/Nambidi.jpg" class="img-responsive" alt='' /></a>
        <h3 class="text-center mg-md">
          <center>Sajith Nambidi</center>
        </h3>
        
      </div>
    </div>
  </div>
</div>

<!-- Footer - bloc-5 -->
<div class="bloc l-bloc " id="bloc-5">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="col-sm-3 text-center">
          <a class="social" href="http://www.facebook.com/kreativitiimages/" target="_blank"><span class="fa fa-facebook icon-md"></span></a>
        </div>
        <div class="col-sm-3 text-center">
          <a class="social" href="https://www.flickr.com/photos/130605310@N05/"  target="_blank"><span class="fa fa-flickr icon-md"></span></a>
        </div>
        <div class="col-sm-3 text-center">
          <a class="social" href="http://instagram.com/kreativiti_images/"  target="_blank"><span class="fa fa-instagram icon-md"></span></a>
        </div>
        <div class="col-sm-3 text-center">
          <a class="social" href="https://twitter.com/kreativitiindia"  target="_blank"><span class="fa fa-twitter icon-md"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-5 END -->
</div>
<!-- Main container END -->

</body>
    
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58001680-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- Google Analytics END -->

</html>
